body {
    background-color: #fff;
    margin: 0;
}

.logo-header {
    margin-top: 4px;
}

.logo-header:hover {
    cursor: pointer;
}

.header {
    background-color: #F0F4F8;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-header {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-content: center;
    align-items: center;
    display: flex !important;
}

.sub-list-element-header {
    justify-content: center;
    align-items: center;
    display: flex !important;
}

.sub-list-header {
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.list-header li {
    display: inline-block;
}

.sub-list-header-li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.input {
    width: 50%;
    margin: auto;
}

.container-div {
    margin-top: 100px;
    text-align: center;
}

.title {
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-size: 50px;
    font-weight: 700;
}

.app-bar-divider {
    width: 100%;
    height: 1px;
    background-color: grey;
}

/* <reset-style> ============================ */
a {
    text-decoration: none;
}

/* <main-style> ============================ */
.menu__link {
    color: #000;
    line-height: 2;
    position: relative;
}

.menu__link::before {
    content: '';
    width: 0;
    height: 1px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}

.menu__link:hover::before {
    width: 100%;
}

.sub-list-header-v2 {
    margin-left: 10px;
}