@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 6rem;
  --fg: var(--fg-color, #369);
  --bg: rgb(212, 212, 212);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 90%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: black;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

.progress-container {
  display: flex;
  /* Ajoutez d'autres styles selon vos besoins */
}

.progress-item {
  border: 2px solid #ccc; /* Couleur et largeur de la bordure du rectangle */
  border-radius: 10px; /* Rayon de la bordure pour rendre les coins plus arrondis */
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 350px; /* Ajustez la largeur du carré selon vos besoins */
  height: 170px; /* Ajustez la hauteur du carré selon vos besoins */
  background-color: #f4f1f1; /* Couleur de fond du carré */
  border-radius: 10px;
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center;
  position: relative;
  margin-left: 20px;
}

.center-sphere {
  padding-left: 10px;
  padding-top: 45px; /* Adjust the left padding to create space between the left edge and the sphere */
}

.above-line {
  top: 20px; /* Ajustez la distance entre le texte et la ligne selon vos besoins */
  right: 0; /* Place le texte au centre horizontalement */
  transform: translateX(100%);

  color: #333; /* Couleur du texte */
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
  font-size: 12px;
  }

.line {
  height: 5px; /* Ajustez la hauteur de la ligne selon vos besoins */
  width: 130%; /* Ajustez la largeur de la ligne selon vos besoins */
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 5px;
  margin-bottom: 20px; 
  }

.center-text {
  position: absolute;
  left: 25px; /* Alignez le bloc de texte à droite de l'élément parent */
  top: 50%; /* Placez le bloc de texte au centre verticalement */
  transform: translateY(-50%); /* Centre le bloc de texte par rapport à son propre axe Y */
  margin-top: 15px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.orange-background {
      background-color: rgb(255,161,22);
}
  
.red-background {
    background-color: rgb(239 71 67);
}
  
.green-background {
    background-color: rgb(0 175 155);
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                        "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  background-color: #f4f1f1;
  border-radius: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                          calc(var(--week-width) * 4) /* Feb */
                          calc(var(--week-width) * 4) /* Mar */
                          calc(var(--week-width) * 4) /* Apr */
                          calc(var(--week-width) * 4) /* May */
                          calc(var(--week-width) * 4) /* Jun */
                          calc(var(--week-width) * 4) /* Jul */
                          calc(var(--week-width) * 4) /* Aug */
                          calc(var(--week-width) * 4) /* Sep */
                          calc(var(--week-width) * 4) /* Oct */
                          calc(var(--week-width) * 4) /* Nov */
                          calc(var(--week-width) * 4) /* Dec */;
                          font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

/* Other styling */

.days li, .squares li, .months li {
  list-style-type: none;
}

.graph {
  margin: 20px;
}

.days li:nth-child(odd) {
  visibility: hidden;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.squares li {
  background-color: #ffffff;
}

.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}

.container{
  display: inline-block;
  flex-direction: column;
  margin-top: 20px;
      --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
}

.profile-square{
  width: 350px; /* Ajustez la largeur du carré selon vos besoins */
  height: 500px; /* Ajustez la hauteur du carré selon vos besoins */
  background-color: #f4f1f1; /* Couleur de fond du carré */
  border-radius: 10px;
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

.all-container{
  display: flex;
  margin-top: 50px;
}

.center-graph{
  display: flex;
}

.profile-container {
  display: inline-block;
}

.profile-picture-square {
  width: 110px;
  margin-left: 20px;
  margin-top: 20px;
}

.profile-picture-square:hover {
  transform: scale(1.2);
}

.text-profile {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.picture-name{
  display: flex;
}

.edit-profile{
  position: absolute;
  display: flex;
  width: 80%;
  background-color: #eeffe7;
  border-radius: 6px;
  margin-left: 35px;
  margin-top: 20px;
}

.text-edit-profile{
  text-align: center;
  margin-top: 4px;
  margin-left: 35%;
  font-size: 18px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
  color: rgb(45 181 93);
}

.edit-profile:hover{
  background-color: #128907;
}

.edit-line{
  width: 90%;
  height: 1px;
  background-color: darkgray;
  margin-top: 58px;
  margin-left: 20px;
  display: block;
}

.edit-edit{
  display: flex;
}

.agougaga{
  width: 300px;
  margin-top: 10px;
  margin-left: 25px;
}

.streak-stats{
  width: 96%;
  height: 70px;
  background-color: #f4f1f1;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
}

.total-streak{
  font-style: normal;
  color: black;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 25px;
  font-size: 18px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.total-streak-nb{
  color: #3b914f;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.avg-streak{
  font-style: normal;
  color: black;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.avg-streak-nb{
  color: #3b914f;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.avg-unit{
  color: darkgray;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.longest-streak{
  font-style: normal;
  color: black;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.longest-streak-nb{
  color: #3b914f;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.current-streak{
  font-style: normal;
  color: black;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.current-streak-nb{
  color: #3b914f;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}