/* CSS to style the layout */
body {
    overflow-x: hidden;
}

/* CSS to style the layout */
.container-p {
    display: flex;
    width: 100%;
    height: 100vh;
    /* Adjust the height as needed */
    padding: 10px;
}

.container-diz {
    display: flex;
    width: 100%;
    /* Adjust the height as needed */
}

.settings,
.topics {
    padding: 20px;
    overflow: auto;
    /* Add scroll if content exceeds the size */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.settings {
    background-color: #F0F4F8;
    /* Left section background color */
    border-radius: 20px;
    border: 2px solid black;
    width: 20%;
    height: 60vh;
    /* Adjust the width as needed */
}

.topics {
    background-color: #F0F4F8;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid black;
    /* Right section background color */
    width: 80%;
    /* Adjust the width as needed */
}

.mainButton {
    align-self: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainButtonSelected {
    align-self: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e3effb;
}

.showMore {
    margin-top: 10;
    color: black;
    padding: 0;
    border: none;
    background: none;
}

.divider-menu {
    width: 100%;
    height: 2px;
    background-color: #000;
    padding: 0px;
}

.subject {
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
    font-weight: 700;
}

.button-group-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-subject-menu-div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.divider-subject-menu {
    margin-top: 5px;
    width: 80%;
    height: 1px;
    background-color: lightgrey;
}

.selected-button-menu {
   background-color: #F0F4F8; 
}

.input-app-bar {
    width: 35%;
}

.table-personal-quest {
    width: 73%;
    margin-top: 15px;
    margin-left: 2%;
    display: inline-block;
}

.card-style {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 18%;
    height: 1%;
    padding-top: 0;
    display: inline-block;
}

.container-personal-quests {
    display: flex;
    align-content: center;
}

.center-sphere-personal {
    padding-top: 10px !important;
}

.center-text-personal {
  position: absolute;
  left: 25px; /* Alignez le bloc de texte à droite de l'élément parent */
  top: 50%; /* Placez le bloc de texte au centre verticalement */
  transform: translateY(-50%); /* Centre le bloc de texte par rapport à son propre axe Y */
  padding-bottom: 10px;
  margin-top: 30px;
}