/* CSS to style the layout */
body {
    overflow-x: hidden;
}

/* CSS to style the layout */
.container-p {
    display: flex;
    width: 100%;
    height: 100vh;
    /* Adjust the height as needed */
    padding: 10px;
}

.container-diz {
    display: flex;
    width: 100%;
    /* Adjust the height as needed */
}

.settings,
.topics {
    padding: 20px;
    overflow: auto;
    /* Add scroll if content exceeds the size */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.settings {
    background-color: #F0F4F8;
    /* Left section background color */
    border-radius: 20px;
    border: 2px solid black;
    width: 20%;
    height: 60vh;
    /* Adjust the width as needed */
}

.topics {
    background-color: #F0F4F8;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid black;
    /* Right section background color */
    width: 80%;
    /* Adjust the width as needed */
}

.mainButton {
    align-self: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainButtonSelected {
    align-self: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e3effb;
}

.showMore {
    margin-top: 10;
    color: black;
    padding: 0;
    border: none;
    background: none;
}

.divider-menu {
    width: 100%;
    height: 2px;
    background-color: #000;
    padding: 0px;
}

.subject {
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-weight: 700;
}

.button-group-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-subject-menu-div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.divider-subject-menu {
    margin-top: 5px;
    width: 80%;
    height: 1px;
    background-color: lightgrey;
}

.selected-button-menu {
   background-color: #F0F4F8; 
}

.input-app-bar {
    width: 35%;
}

.table-personal-quest {
    width: 73%;
    margin-top: 15px;
    margin-left: 2%;
    display: inline-block;
}

.card-style {
    margin-left: 40px;
    width: 80%;
    height: 60%;
    padding-top: 0;
}

.card-style-2 {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80%;
    height: 70%;
    padding-top: 0;
    gap: 0;
}

.level-perso {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}

.level-role-perso {
    margin: 0;
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-weight: 400;
}

.container-personal-quests {
    display: flex;
    align-content: center;
}

.center-sphere-personal {
    padding-top: 10px !important;
}

.center-text-personal {
  position: absolute;
  left: 25px; /* Alignez le bloc de texte à droite de l'élément parent */
  top: 50%; /* Placez le bloc de texte au centre verticalement */
  transform: translateY(-50%); /* Centre le bloc de texte par rapport à son propre axe Y */
  padding-bottom: 10px;
  margin-top: 30px;
}

.header-subject {
    display: flex;
    margin-top: 20px;
}

.image-subject {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 80px;
}

.test {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.progress {
  background: #000;
  margin-top: 10px;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 3px;
  display: flex;
  height: 14px;
  width: 95%;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #00ff00;
  border-radius: 100px;
  background: #00ff00;
  height: 8px;
  width: 66%;
}

.input-form {
    width: 40%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.accordion-details {
    border-radius: 20px;
    background-color: #F0F4F8;
}

.details-forum {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
}

.details-title {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
}

.details-date {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 93%;
}

.form-question {
    font-size: larger;
}