body {
    background-color: #faf0e6;
}

.logo-header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header {
    background-color: #F0F4F8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 2px solid black;
}

.list-header {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-content: center;
    align-items: center;
    display: flex !important;
}

.sub-list-element-header {
    justify-content: center;
    align-items: center;
    display: flex !important;
}

.sub-list-header {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.list-header li {
    display: inline-block;
}

.sub-list-header-li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.divider-menu-items {
    width: 2px;
    height: 12px;
    background-color: #000;
    padding: 0px;
}

.input {
    width: 50%;
    margin: auto;
}

.container-div {
    margin-top: 100px;
    text-align: center;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

/* <reset-style> ============================ */
a {
    text-decoration: none;
}

/* <main-style> ============================ */
.menu__link {
    color: #000;
    line-height: 2;
    position: relative;
}

.menu__link::before {
    content: '';
    width: 0;
    height: 1px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}

.menu__link:hover::before {
    width: 100%;
}